{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner no_animation">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1565603403549 grid_section lazyload" style=' text-align:left;' data-bg="/assets/uploads/2019/02/puffin-security-cybersecurity-auditing-for-protecting-companiesc.jpg">
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1565595970184">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h5 style="font-size:38px;margin-top:100px;"><span style="color: #ffffff; background-color: #000000;"> CIBERSEGURIDAD EXHAUSTIVA </span></h5>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2><span style="color: #000000;"><strong>Servicios de </strong></span></h2>
                                                       <h2 style="white-space:nowrap;"><span style="color: #000000;"><strong>Ciberseguridad a medida</strong></span></h2>
                                                     
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="">
                                  <div class="container_inner">
                                     <div class="text_wrapper">
                                        <div class="call_to_action_text" style="">
                                           <h4 style="text-align: center;">Somos un equipo altamente especializado en auditorías de ciberseguridad y pentesting</h4>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549018001898 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 25px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;">Mejora tu estrategia de <span style="color: #ff6600;">ciberseguridad</span>, mitiga riesgos, facilita el cumplimiento normativo y mejora la eficiencia operacional</h2>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 25px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548877799509 grid_section" style=' padding-bottom:118px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item eh-with-shadow' data-animation='no' style='background-color:#ffffff;vertical-align:middle;text-align:center;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_353602' style='padding:40px 30px 40px 30px'>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3C/svg%3E" width="120" height="120" alt="Puffin-Cybersecurity-Audit-and-Assesment" title="Puffin-Cybersecurity-Audit-and-Assesment" data-src="/assets/uploads/2018/12/Puffin-Cybersecurity-Audit-and-Assesment-120x120.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2018/12/Puffin-Cybersecurity-Audit-and-Assesment-120x120.png" width="120" height="120" alt="Puffin-Cybersecurity-Audit-and-Assesment" title="Puffin-Cybersecurity-Audit-and-Assesment" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 17px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>Auditorías</h4>
                                                 </div>
                                              </div>
                                              <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 5px;margin-bottom: 10px;background-color: #ededed;height: 2px;width: 25px;"></div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>En nuestras auditorías de ciberseguridad utilizamos los estándares del sector combinados con la experiencia de nuestros auditores</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item eh-with-shadow' data-animation='no' style='background-color:#ffffff;vertical-align:middle;text-align:center;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_368279' style='padding:40px 30px 40px 30px'>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3C/svg%3E" width="120" height="120" alt="Puffin-Cybersecurity-GDPR-compliance" title="Puffin-Cybersecurity-GDPR-compliance" data-src="/assets/uploads/2018/12/Puffin-Cybersecurity-GDPR-compliance-120x120.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2018/12/Puffin-Cybersecurity-GDPR-compliance-120x120.png" width="120" height="120" alt="Puffin-Cybersecurity-GDPR-compliance" title="Puffin-Cybersecurity-GDPR-compliance" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 17px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>Servicios de Red team</h4>
                                                 </div>
                                              </div>
                                              <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 5px;margin-bottom: 10px;background-color: #ededed;height: 2px;width: 25px;"></div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>La emulación de adversarios permite evaluar la capacidad de respuesta de una organización frente a amenazas reales</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item eh-with-shadow' data-animation='no' style='background-color:#ffffff;vertical-align:middle;text-align:center;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_720617' style='padding:40px 30px 40px 30px'>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3C/svg%3E" width="120" height="120" alt="Puffin-Cybersecurity-Incident-Response" title="Puffin-Cybersecurity-Incident-Response" data-src="/assets/uploads/2018/12/Puffin-Cybersecurity-Incident-Response-120x120.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2018/12/Puffin-Cybersecurity-Incident-Response-120x120.png" width="120" height="120" alt="Puffin-Cybersecurity-Incident-Response" title="Puffin-Cybersecurity-Incident-Response" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 17px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>MDR</h4>
                                                 </div>
                                              </div>
                                              <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 5px;margin-bottom: 10px;background-color: #ededed;height: 2px;width: 25px;"></div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>Dotamos a tu empresa de tecnología pionera en la detección de ataques de ciberseguridad 24/7 y mitigamos su impacto</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"><a  itemprop="url" href="/es/servicios-de-ciberseguridad/" target="_self" data-hover-color=#ffffff class="qbutton  big_large default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">Ver servicios de ciberseguridad</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#row-3"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_473480' style='padding:112px 8% 64px 8%'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h3><span style="color: #021426;">Nuestros servicios de <span style="color: #ff6600;">ciberseguridad</span></span></h3>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 25px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4><span style="color: #333333;">En PUFFIN SECURITY queremos ayudarte a gestionar las ciberamenazas, mejorar la protección de tu organización, ayudarte con el cumplimiento normativo y proteger la reputación de tu compañía</span></h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#benefits"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1546421682066 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner vc_custom_1546380955208">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN Black-02" title="DESIGN Black-02" data-src="/assets/uploads/2019/01/DESIGN-Black-02-70x70.png" loading="lazy" />
                                           <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-Black-02-70x70.png" width="70" height="70" alt="DESIGN Black-02" title="DESIGN Black-02" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>Revisar tu seguridad</h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 11px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Te ayudamos a determinar que medidas necesitas tomar para prevenir, detectar y corregir vulnerabilidades y con ello mejorar tu plan de ciberseguridad</p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner vc_custom_1546380946294">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN AND DEVELOPMENT Black-03" title="DESIGN AND DEVELOPMENT Black-03" data-src="/assets/uploads/2019/01/DESIGN-AND-DEVELOPMENT-Black-03-70x70.png" loading="lazy" />
                                           <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-AND-DEVELOPMENT-Black-03-70x70.png" width="70" height="70" alt="DESIGN AND DEVELOPMENT Black-03" title="DESIGN AND DEVELOPMENT Black-03" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>Analizar tu flujo de datos</h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 11px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Analizamos en profundidad cuáles son los tipos de información y datos que manejas, como funciona el flujo de datos y como se gestionan los accesos.</p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner vc_custom_1546380940283">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="BASIC Black-23" title="BASIC Black-23" data-src="/assets/uploads/2019/01/BASIC-Black-23-70x70.png" loading="lazy" />
                                           <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/BASIC-Black-23-70x70.png" width="70" height="70" alt="BASIC Black-23" title="BASIC Black-23" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>Generar confianza</h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 11px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Proteger tu negocio de manera eficaz contra las ciberamenazas es un aspecto fundamental para generar confianza a tus potenciales clientes</p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div data-q_id="#benefits" class="vc_row wpb_row section vc_row-fluid  vc_custom_1546421682066 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner vc_custom_1551887773212">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="BANKING AND FINANCE Black-11" title="BANKING AND FINANCE Black-11" data-src="/assets/uploads/2019/01/BANKING-AND-FINANCE-Black-11-70x70.png" loading="lazy" />
                                           <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/BANKING-AND-FINANCE-Black-11-70x70.png" width="70" height="70" alt="BANKING AND FINANCE Black-11" title="BANKING AND FINANCE Black-11" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 40px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>Proteger tu productividad</h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 11px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Un ciberataque efectivo puede frenar completamente la actividad de tu compañía, provocando grandes perdidas económicas y la paralización operacional</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 40px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                            <div class="vc_column-inner vc_custom_1551887766563">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN Black-29" title="DESIGN Black-29" data-src="/assets/uploads/2019/01/DESIGN-Black-29-70x70.png" loading="lazy" />
                                           <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-Black-29-70x70.png" width="70" height="70" alt="DESIGN Black-29" title="DESIGN Black-29" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 43px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>Mejorar tu protección</h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 11px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Destacamos las áreas problemáticas y te explicamos como solucionar esas brechas, mejorar tu política de seguridad y cumplir las regulaciones</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 40px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546421668485 grid_section" style=' padding-top:0px; padding-bottom:95px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"><a  itemprop="url" href="/es/por-que-puffin" target="_self" data-hover-color=#ffffff class="qbutton  big_large default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">¿Por que Puffin?</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  progress-line grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548885998493">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;vertical-align:top;text-align:left;' data-bg="/assets/uploads/2019/01/iStock-502284438-e1564989401475.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_628893' style='padding:15% 15% 44% 7%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_628893{ padding: 50% 48% 7% 7% !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4><span style="color: #ffffff;">La <span style="color: #ff6600;">pérdida de datos</span> como consecuencia de un ciberataque representa el 43% de los gastos en el sector de la ciberseguridad</span></h4>
                                                 </div>
                                              </div>
                                              <div class="qode_video_box">
                                                 <a itemprop="image" class="qode_video_image" href="" data-rel="prettyPhoto">
                                                 </a>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 45px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#3382f7;vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_668681' style='padding:10% 14% 8% 15%;background-color:#FF6600;'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2><span style="color: #ffffff;">Los ataques de Ransomware están creciendo más del 350% anual</span></h2>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 20px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">Cerca de una cuarta parte de las organizaciones han sufrido ciberataques que han causado pérdidas de oportunidades de negocio. De ellas, 4 de cada 10, indicaron que las pérdidas económicas fueron cuantiosas. Las denegaciones de servicio causadas por brechas de seguridad suelen ser de larga duración. El 45% de los DoS duran entre 1 y 8 horas.</span></p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 45px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  progress-line grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no' style='background-color:#a5a5a5;vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_725176' style='padding:10% 14% 8% 15%'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h3><span style="color: #ffffff;">Las empresas deben reconocer la <span style="color: #ff6600;">ciberseguridad</span> como una precondición para poder operar</span></h3>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 20px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">El 95% de los ataques de malware permanecen en las empresas al menos durante un año.</span><br />
                                                       <span style="color: #ffffff;">El 93% de las brechas de seguridad se producen por Phising y suplantación de identidad.</span><br />
                                                       <span style="color: #ffffff;">El 55% de las organizaciones han tenido que gestionar su imagen pública debido a una brecha de seguridad.</span>
                                                    </p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 45px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;vertical-align:top;' data-bg="/assets/uploads/2019/01/istock-529419028-2-e1563778052514.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_523480' style='padding:15% 30% 44% 7%'>
                                              <div class="qode_video_box">
                                                 <a itemprop="image" class="qode_video_image" href="https://vimeo.com/100815807" data-rel="prettyPhoto">
                                                 </a>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4><span style="color: #ffffff;">“Se tardan 20 años en construir una reputación, y unos pocos minutos en destruirla”</span></h4>
                                                    <h5><span style="color: #ff6600;">Stephane Napo</span></h5>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 45px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546387850233" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item' data-animation='no' style='vertical-align:middle;text-align:center;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_537771' style='padding:0 0 0 0'>
                                           <div class="wpb_single_image wpb_content_element vc_align_center">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                    <img width="931" height="809" src="/assets/ewww/lazy/placeholder-931x809.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/home-single-image-2.png" data-srcset="/assets/uploads/2019/01/home-single-image-2.png 931w, /assets/uploads/2019/01/home-single-image-2-300x261.png 300w, /assets/uploads/2019/01/home-single-image-2-768x667.png 768w, /assets/uploads/2019/01/home-single-image-2-700x608.png 700w" data-sizes="auto" loading="lazy" />
                                                    <noscript><img width="931" height="809" src="/assets/uploads/2019/01/home-single-image-2.png" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/home-single-image-2.png 931w, /assets/uploads/2019/01/home-single-image-2-300x261.png 300w, /assets/uploads/2019/01/home-single-image-2-768x667.png 768w, /assets/uploads/2019/01/home-single-image-2-700x608.png 700w" sizes="(max-width: 931px) 100vw, 931px" /></noscript>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item' data-animation='no' style='vertical-align:middle;text-align:left;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_931229' style='padding:102px 20% 120px'>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h5>Testimonio</h5>
                                              </div>
                                           </div>
                                           <div class="separator  transparent" style="margin-top: -17px;"></div>
                                           <div class="vc_empty_space"  style="height: 31px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4><span style="color: #808080;">«Un profesional en el ámbito de la ciberseguridad me recomendó Puffin Security para hacer una auditoría de la red WI-FI. Después de un exhaustivo análisis descubrimos que nuestra red interna estaba expuesta de tal manera, que cualquier atacante podría haber tenido acceso a archivos confidenciales. Gracias a la rapidez y sus buenas recomendaciones, pudimos solucionar esa brecha inmediatamente»</span></h4>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 31px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <p><span style="color: #ff6600;"><b>Services manager de Ciberseguridad</b><br />
                                                    </span>
                                                 </p>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 45px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <a  itemprop="url" href="/es/nuestros-clientes/" target="_self" data-hover-color=#ffffff class="qbutton  small default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">Más testimonios</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:87px; padding-bottom:30px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;">Últimos artículos de Cibersecuridad</h2>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 7px;margin-bottom: 38px;"></div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="separator  transparent" style="margin-top: 52px;margin-bottom: 0px;"></div>
                                                 <div class='latest_post_holder boxes three_columns one_row' >
                                                    <ul>
                                                       {% for post in site.blogs_es limit:3 %}
                                                       <li class="clearfix">
                                                          <div class="boxes_image">
                                                             <a itemprop="url" href="{{ post.url }}">
                                                                <img width="539" height="303" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 539 303'%3E%3C/svg%3E" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image lazyload" alt="El firmware en dispositivos IoT" data-src="{{ post.image_src }}" loading="lazy" />
                                                                <noscript><img width="539" height="303" src="{{ post.image_src }}" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image" alt="{{ post.title }}" /></noscript>
                                                            </a>
                                                          </div>
                                                          <div class="latest_post"  >
                                                             <div class="latest_post_text">
                                                                <div class="latest_post_inner">
                                                                   <div class="latest_post_text_inner">
                                                                      <h5 itemprop="name" class="latest_post_title entry_title"><a itemprop="url" href="{{ post.url }}">{{ post.title }}</a></h5>
                                                                      <p itemprop="description" class="excerpt">{{ post.description }}</p>
                                                                      <span class="post_infos">
                                                                      </span>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                       {% endfor %}
                                                       

                                                    </ul>
                                                 </div>
                                                 <div class="separator  transparent" style="margin-top: 40px;margin-bottom: 0px;"></div>
                                                 <a  itemprop="url" href="/es/blog-de-ciberseguridad/blog/" target="_self" data-hover-color=#ffffff class="qbutton  small default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">Más artículos</a>
                                                 <div class="separator  transparent" style="margin-top: 60px;margin-bottom: 0px;"></div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549019703736" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h2 style="text-align: center;"><span style="color: #ffffff;">Empieza AHORA a mitigar riesgos</span></h2>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 31px;margin-bottom: 0px;"></div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4 style="text-align: center;"><span style="color: #ffffff;">Danos algunos detalles para que uno de nuestros analistas de ciberseguridad se ponga en contacto contigo</span></h4>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 31px;margin-bottom: 0px;"></div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper vc-es-36">
                                             <img src="/assets/uploads/2023/01/puffon.png" alt="">
                                              <a  itemprop="url" href="/contact-us" target="_self" data-hover-background-color=#f53644 data-hover-border-color=#f53644 data-hover-color=#ffffff class="qbutton  large center default" style="color: #000000; border-color: #ffffff; background-color: #ffffff;">GET STARTED</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include es/footer.liquid %}
