{% include es/head.liquid %}
{% include es/header.liquid %}


<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1550229148205 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548888772962">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h1 class="home-h"><span style="color: #ffffff;">Conviértete<br />
                                                          en partner</span>
                                                       </h1>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 27px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4><span style="color: #ffffff;">En Puffin queremos trabajar mano a mano contigo, conoce nuestro programa de partners para ofrecer a tus clientes una sólida estrategia de ciberseguridad.</span></h4>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1548875727298">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="background-color: #e8e8e8;">
                                  <div class="container_inner">
                                     <div class="two_columns_75_25 clearfix">
                                        <div class="text_wrapper column1">
                                           <div class="call_to_action_text" style="">
                                              <h5><span style="color: #000000;">SOLICíTANOS MÁS INFORMACIÓN SOBRE NUESTRO PARTNERSHIP</span></h5>
                                           </div>
                                        </div>
                                        <div class="button_wrapper column2"><a itemprop="url" href="/es/contacto" class="qbutton white" target="_self" style="color: #ffffff;border-color: #dd3333;background-color: #dd3333;">SABER MÁS</a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1549569969851 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><span style="color: #ff6600;">Hazte partner</span> de Puffin Security</h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 2px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #808080;">Empieza a trabajar con Puffin Security para proporcionar servicios proactivos de ciberseguridad a tus clientes y miembros.</span></h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 50px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section disable_negative_margin" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1549574070125">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_901834'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>Desde 2018 el panorama de la ciberseguridad requiere de un enfoque avanzado. En Puffin Security  ofrecemos una gama completa de servicios integrales de ciberseguridad para que las empresas puedan operar con seguridad a través de nuestros servicios de prevención, detección y respuesta. Nuestro programa para partners está diseñado para ayudarte a ofrecer servicios de ciberseguridad y de cumplimiento normativo par a tus clientes.</p>
                                                    <p>En Puffin Security creemos en las sólidas partnerships, orientadas a largo plazo y que ofrezcan valor a ambas partes. Creemos en el Win-Win</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1549574062955">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4><strong>¿Por qué asociarte con nosotros?</strong></h4>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-bottom: 20px;"></div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Valor compartido</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">El sector de ciberseguridad ofrece grandes oportunidades</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">8 años de experiencia en servicios de ciberseguridad</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Aumenta las oportunidades de negocio</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1549574038143">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="1196" height="672" src="/assets/ewww/lazy/placeholder-1196x672.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" data-srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="1196" height="672" src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" sizes="(max-width: 1196px) 100vw, 1196px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1549575805239 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #333333;">Hagamos negocios juntos</span></h2>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 7px;margin-bottom: 38px;height: 1px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #999999;">Por favor contacta con nosotros y te llamaremos para explicarte como ser nuestro partner</span></h4>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549575813866 grid_section disable_negative_margin" style=' padding-top:50px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1549575582908">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_407206' style='padding:30px 0 0 30px'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>Puffin Security proporciona la experiencia y las certificaciones necesarias para aportar credibilidad a cualquier asociación potencial. Podemos ayudar a tus clientes a comprender mejor los servicios de ciberseguridad y el tipo de incidentes que pueden sufrir dependiendo de su actividad. Tu empresa puede ofrecer a tus clientes un servicio nuevo y muy interesante.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_304824' style='padding:30px 0 0 30px'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>Ofrecemos una amplia gama de servicios de ciberseguridad para mitigar los riesgos y mejorar la protección de tus datos. Incluso si ya se ha experimentado una intrusión, podemos ayudarte a responder al ataque y recuperarte muy rápidamente.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 100px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  qode-row-with-bg vc_custom_1548890946395" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  grid_section disable_negative_margin" style=' text-align:center;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                           <div class="vc_column-inner vc_custom_1548607264319">
                                              <div class="wpb_wrapper"><a  itemprop="url" href="/es/contacto" target="_blank" data-hover-background-color=#ff3a3a data-hover-border-color=#4c8dff data-hover-color=#ffffff class="qbutton  big_large_full_width enlarge" style="color: #ffffff; border-color: #4c8dff; border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px; background-color: #ff3a3a;">AVERIGUA CÓMO SER PARTNER</a></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1527595327842 grid_section" style=' text-align:left;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2 style="text-align: center;"><span style="color: #ffffff;">¿Por qué trabajar con Puffin?</span></h2>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 75px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Eficiencia y eficacia</h4>
                                                          <p style='color: #d4d1d1'>Utilizamos metodologías que garantizan la política de calidad (ISO 9001) y el logro de un resultado óptimo, priorizando el tiempo de respuesta y la velocidad de ejecución.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Enfoque de servicio personalizado</h4>
                                                          <p style='color: #d4d1d1'>Adaptamos las pruebas y los test a cada uno de nuestros clientes, haciendo una revisión personalizada y exhaustiva, ofreciendo servicios a medida a precios realmente competitivos.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Expertos en ciberseguridad</h4>
                                                          <p style='color: #d4d1d1'>Realizado por consultores expertos en ciberseguridad auditando presencialmente o a distancia. Tenemos una larga experiencia en proyectos de seguridad para empresas, proporcionando conocimiento en los tres aspectos: organizativo, legal y técnico.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Revisión exhaustiva de seguridad</h4>
                                                          <p style='color: #d4d1d1'>En Puffin Security revisamos la seguridad de su empresa realizando una revisión por capas, desde sus activos expuestos a Internet como la página web o sus aplicaciones móviles hasta una revisión de su infraestructura interna y la red de su organización.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Cumplimiento con códigos éticos</h4>
                                                          <p style='color: #d4d1d1'>Cumplimiento de las normas de auditoría y los códigos éticos de ISACA, AISS y las reglas de compromiso de OSSTMM, además de las normas a las que se hace referencia en la metodología de cada auditoría.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 69px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:87px; padding-bottom:30px; text-align:left;'>
                  <div class="section_inner clearfix">
                     <div class='section_inner_margin clearfix'>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                       <h2 style="text-align: center;">Últimos artículos de Cibersecuridad</h2>
                                    </div>
                                 </div>
                                 <div class="separator  small center" style="margin-top: 7px;margin-bottom: 38px;"></div>
                                 <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                    <div class="full_section_inner clearfix">
                                       <div class="wpb_column vc_column_container vc_col-sm-12">
                                          <div class="vc_column-inner">
                                             <div class="wpb_wrapper">
                                                <div class="separator  transparent" style="margin-top: 52px;margin-bottom: 0px;"></div>
                                                <div class='latest_post_holder boxes three_columns one_row' >
                                                   <ul>
                                                      {% for post in site.blogs_es limit:3 %}
                                                      <li class="clearfix">
                                                         <div class="boxes_image">
                                                            <a itemprop="url" href="{{ post.url }}">
                                                               <img width="539" height="303" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 539 303'%3E%3C/svg%3E" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image lazyload" alt="El firmware en dispositivos IoT" data-src="{{ post.image_src }}" loading="lazy" />
                                                               <noscript><img width="539" height="303" src="{{ post.image_src }}" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image" alt="{{ post.title }}" /></noscript>
                                                           </a>
                                                         </div>
                                                         <div class="latest_post"  >
                                                            <div class="latest_post_text">
                                                               <div class="latest_post_inner">
                                                                  <div class="latest_post_text_inner">
                                                                     <h5 itemprop="name" class="latest_post_title entry_title"><a itemprop="url" href="{{ post.url }}">{{ post.title }}</a></h5>
                                                                     <p itemprop="description" class="excerpt">{{ post.description }}</p>
                                                                     <span class="post_infos">
                                                                     </span>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </li>
                                                      {% endfor %}
                                                      

                                                   </ul>
                                                </div>
                                                <div class="separator  transparent" style="margin-top: 40px;margin-bottom: 0px;"></div>
                                                <a  itemprop="url" href="/es/blog-de-ciberseguridad/blog/" target="_self" data-hover-color=#ffffff class="qbutton  small default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">Más artículos</a>
                                                <div class="separator  transparent" style="margin-top: 60px;margin-bottom: 0px;"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549019703736" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h3 style="text-align: center;"><span style="color: #ffffff;">Contacta con nosotros y te llamaremos para darte más información</span></h3>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 31px;margin-bottom: 0px;"></div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"><a  itemprop="url" href="/es/contacto" target="_self" data-hover-background-color=#f53644 data-hover-border-color=#f53644 data-hover-color=#ffffff class="qbutton  large center default" style="color: #000000; border-color: #ffffff; background-color: #ffffff;">EMPIEZA AHORA</a></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include es/footer.liquid %}
