{% include head.liquid %}
{% include header.liquid %}
 <a id="back_to_top" href="#">
 <span class="fa-stack">
 <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
 </a>
 <div class="content content_top_margin_none">
    <div class="content_inner">
       <div class="full_width">
          <div class="full_width_inner" >
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1565602866467 grid_section" style=' text-align:left;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1565594016563">
                            <div class="wpb_wrapper">
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h5><span style="color: #ffffff; background-color: #000000;"> COMPREHENSIVE CYBER SECURITY </span></h5>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 27px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2><span style="color: #000000;"><strong>Security Risks</strong></span></h2>
                                                    <h2><span style="color: #000000;"><strong>and Incidents</strong></span></h2>
                                                    <h2><span style="color: #000000;"><strong>Stop Here</strong></span></h2>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 39px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                <div class="full_section_inner clearfix">
                   <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner vc_custom_1565593833923">
                         <div class="wpb_wrapper">
                            <div class="call_to_action normal" style="">
                               <div class="container_inner">
                                  <div class="text_wrapper">
                                     <div class="call_to_action_text" style="">
                                        <h4 style="text-align: center;">We are a highly specialized team in cyber security auditing and pentesting</h4>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549018001898 grid_section" style=' text-align:left;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-8">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="vc_empty_space"  style="height: 25px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h2 style="text-align: center;">Enhance your <span style="color: #ff6600;">cyber security</span> posture, reduce risk, facilitate compliance and improve operational efficiency</h2>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 25px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548877799509 grid_section" style=' padding-bottom:118px; text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item eh-with-shadow' data-animation='no' style='background-color:#ffffff;vertical-align:middle;text-align:center;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_247348' style='padding:40px 30px 40px 30px'>
                                           <div class="wpb_single_image wpb_content_element vc_align_center">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                    <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3C/svg%3E" width="120" height="120" alt="Puffin-Cybersecurity-Audit-and-Assesment" title="Puffin-Cybersecurity-Audit-and-Assesment" data-src="/assets/uploads/2018/12/Puffin-Cybersecurity-Audit-and-Assesment-120x120.png" loading="lazy" />
                                                    <noscript><img class="vc_single_image-img" src="/assets/uploads/2018/12/Puffin-Cybersecurity-Audit-and-Assesment-120x120.png" width="120" height="120" alt="Puffin-Cybersecurity-Audit-and-Assesment" title="Puffin-Cybersecurity-Audit-and-Assesment" /></noscript>
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 17px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4>Audit &amp; assessment</h4>
                                              </div>
                                           </div>
                                           <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 5px;margin-bottom: 10px;background-color: #ededed;height: 2px;width: 25px;"></div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <p>Cutting edge cybersecurity audit and consulting services using the latest methods and leading industry standards</p>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 23px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 30px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item eh-with-shadow' data-animation='no' style='background-color:#ffffff;vertical-align:middle;text-align:center;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_208591' style='padding:40px 30px 40px 30px'>
                                           <div class="wpb_single_image wpb_content_element vc_align_center">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                    <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3C/svg%3E" width="120" height="120" alt="Puffin-Cybersecurity-GDPR-compliance" title="Puffin-Cybersecurity-GDPR-compliance" data-src="/assets/uploads/2018/12/Puffin-Cybersecurity-GDPR-compliance-120x120.png" loading="lazy" />
                                                    <noscript><img class="vc_single_image-img" src="/assets/uploads/2018/12/Puffin-Cybersecurity-GDPR-compliance-120x120.png" width="120" height="120" alt="Puffin-Cybersecurity-GDPR-compliance" title="Puffin-Cybersecurity-GDPR-compliance" /></noscript>
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 17px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4>Red teaming service</h4>
                                              </div>
                                           </div>
                                           <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 5px;margin-bottom: 10px;background-color: #ededed;height: 2px;width: 25px;"></div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <p>Adversary emulation operations are authorized attacks that reveal the capabilities of attackers in real world.</p>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 23px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 30px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item eh-with-shadow' data-animation='no' style='background-color:#ffffff;vertical-align:middle;text-align:center;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_334468' style='padding:40px 30px 40px 30px'>
                                           <div class="wpb_single_image wpb_content_element vc_align_center">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                    <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3C/svg%3E" width="120" height="120" alt="Puffin-Cybersecurity-Incident-Response" title="Puffin-Cybersecurity-Incident-Response" data-src="/assets/uploads/2018/12/Puffin-Cybersecurity-Incident-Response-120x120.png" loading="lazy" />
                                                    <noscript><img class="vc_single_image-img" src="/assets/uploads/2018/12/Puffin-Cybersecurity-Incident-Response-120x120.png" width="120" height="120" alt="Puffin-Cybersecurity-Incident-Response" title="Puffin-Cybersecurity-Incident-Response" /></noscript>
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 17px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4>MDR</h4>
                                              </div>
                                           </div>
                                           <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 5px;margin-bottom: 10px;background-color: #ededed;height: 2px;width: 25px;"></div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <p>We provide your company with pioneering technology in the detection of cybersecurity attacks 24/7 and mitigate its impact</p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 30px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"><a  itemprop="url" href="/cybersecurity-services/" target="_self" data-hover-color=#ffffff class="qbutton  big_large default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">View services in depth</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div   data-q_id="#row-3"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item' data-animation='no'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_365154' style='padding:112px 8% 64px 8%'>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h3><span style="color: #021426;">Our <span style="color: #ff6600;">cybersecurity </span>services</span></h3>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 25px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4><span style="color: #333333;">At PUFFIN SECURITY we want to help you to deal with the new cyber threats, enhancing your company protection, offering youassessmentfor get compliance and protecting your reputation from data breaches</span></h4>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div   data-q_id="#benefits"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1546421682066 grid_section" style=' text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                         <div class="vc_column-inner vc_custom_1546380955208">
                            <div class="wpb_wrapper">
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN Black-02" title="DESIGN Black-02" data-src="/assets/uploads/2019/01/DESIGN-Black-02-70x70.png" loading="lazy" />
                                        <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-Black-02-70x70.png" width="70" height="70" alt="DESIGN Black-02" title="DESIGN Black-02" /></noscript>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 27px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>Review your security</h4>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 11px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="vc_empty_space"  style="height: 33px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>We will help you determine if preventive, detective, and/or corrective controls need to be strengthened to enhance the efficacy and effectiveness.</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 59px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN AND DEVELOPMENT Black-18" title="DESIGN AND DEVELOPMENT Black-18" data-src="/assets/uploads/2019/01/DESIGN-AND-DEVELOPMENT-Black-18-70x70.png" loading="lazy" />
                                        <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-AND-DEVELOPMENT-Black-18-70x70.png" width="70" height="70" alt="DESIGN AND DEVELOPMENT Black-18" title="DESIGN AND DEVELOPMENT Black-18" /></noscript>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 40px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>Recognize Vulnerabilities</h4>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 11px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>We provide a complete evaluation of existing and potential vulnerabilities within your organization to handle customer data safely and get compliance</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 40px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                         <div class="vc_column-inner vc_custom_1546380946294">
                            <div class="wpb_wrapper">
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN AND DEVELOPMENT Black-03" title="DESIGN AND DEVELOPMENT Black-03" data-src="/assets/uploads/2019/01/DESIGN-AND-DEVELOPMENT-Black-03-70x70.png" loading="lazy" />
                                        <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-AND-DEVELOPMENT-Black-03-70x70.png" width="70" height="70" alt="DESIGN AND DEVELOPMENT Black-03" title="DESIGN AND DEVELOPMENT Black-03" /></noscript>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 27px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>Discover and Evaluate your organization data flows</h4>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 11px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>We can determine the type of information you have, how it flows in and out of your organization, and who has access to that information.</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 59px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="BANKING AND FINANCE Black-11" title="BANKING AND FINANCE Black-11" data-src="/assets/uploads/2019/01/BANKING-AND-FINANCE-Black-11-70x70.png" loading="lazy" />
                                        <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/BANKING-AND-FINANCE-Black-11-70x70.png" width="70" height="70" alt="BANKING AND FINANCE Black-11" title="BANKING AND FINANCE Black-11" /></noscript>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 40px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>Protect productivity</h4>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 11px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>Cyber attacks can stop completely your company activity, causing a lot of wasted time and money for starting again after a successfull data breach.</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 40px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                         <div class="vc_column-inner vc_custom_1546380940283">
                            <div class="wpb_wrapper">
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="DESIGN Black-29" title="DESIGN Black-29" data-src="/assets/uploads/2019/01/DESIGN-Black-29-70x70.png" loading="lazy" />
                                        <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/DESIGN-Black-29-70x70.png" width="70" height="70" alt="DESIGN Black-29" title="DESIGN Black-29" /></noscript>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 27px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>Get an in-depth report</h4>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 33px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="vc_empty_space"  style="height: 11px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>We can highlight problem areas and proposed solutions regarding risk areas, compliance with industry standards, security policies, and the like.</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 59px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3C/svg%3E" width="70" height="70" alt="BASIC Black-23" title="BASIC Black-23" data-src="/assets/uploads/2019/01/BASIC-Black-23-70x70.png" loading="lazy" />
                                        <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/BASIC-Black-23-70x70.png" width="70" height="70" alt="BASIC Black-23" title="BASIC Black-23" /></noscript>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 40px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>Inspire confidence</h4>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 11px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>If you protect your business effectively against all kinds of cyber threats, your customers and clients will then feel more confident for working with you.</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 40px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546421668485 grid_section" style=' padding-top:0px; padding-bottom:95px; text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"><a  itemprop="url" href="/why-puffin/" target="_self" data-hover-color=#ffffff class="qbutton  big_large default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">Why Puffin</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  progress-line grid_section" style=' text-align:left;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1548885998493">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                  <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;vertical-align:top;text-align:left;' data-bg="/assets/uploads/2019/01/iStock-502284438-e1564989401475.jpg">
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_129343' style='padding:15% 15% 44% 7%'>
                                           <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_129343{ padding: 50% 48% 7% 7% !important;}}</style>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4><span style="color: #ffffff;">The <span style="color: #ff6600;">information loss</span> as a result of a cyberattack represents 43% of the expenses in the cybersecurity sector.</span></h4>
                                              </div>
                                           </div>
                                           <div class="qode_video_box">
                                              <a itemprop="image" class="qode_video_image" href="https://vimeo.com/100815807" data-rel="prettyPhoto">
                                              </a>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 45px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_item' data-animation='no' style='background-color:#3382f7;vertical-align:middle;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_558401' style='padding:10% 14% 8% 15%'>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h2><span style="color: #ffffff;">Ransomware attacks are growing more than 350 percent annually</span></h2>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 20px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <p><span style="color: #ffffff;">Nearly a quarter of organizations have suffered cyberattacks that have caused loss of business opportunities. Of these, 4 out of 10 indicated that the economic losses were large. Denials of service caused by security breaches are usually long-lasting. 45% of DoS last between 1 and 8 hours.</span></p>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 45px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  progress-line grid_section" style=' text-align:left;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                  <div class='q_elements_item' data-animation='no' style='background-color:#a5a5a5;vertical-align:middle;'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_218262' style='padding:10% 14% 8% 15%'>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h3><span style="color: #ffffff;">Companies must recognize <span style="color: #ff6600;">cyber security</span> as a precondition for operation</span></h3>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 20px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <p><span style="color: #ffffff;">95% of malware attacks remain in the companies for at least one year.</span><br />
                                                    <span style="color: #ffffff;">93% of security breaches are caused by phising and identity theft.</span><br />
                                                    <span style="color: #ffffff;">55% of organizations have had to manage their public image due to a security breach.</span>
                                                 </p>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 45px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;vertical-align:top;' data-bg="/assets/uploads/2019/01/istock-529419028-2-e1563778052514.jpg">
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_597692' style='padding:15% 30% 44% 7%'>
                                           <div class="qode_video_box">
                                              <a itemprop="image" class="qode_video_image" href="https://vimeo.com/100815807" data-rel="prettyPhoto">
                                              </a>
                                           </div>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h4><span style="color: #ffffff;">It takes 20 years to build a reputation and few minutes to ruin it.</span></h4>
                                                 <h5><span style="color: #ff6600;">Stephane Napo</span></h5>
                                              </div>
                                           </div>
                                           <div class="vc_empty_space"  style="height: 45px" ><span
                                              class="vc_empty_space_inner">
                                              <span class="empty_space_image"  ></span>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546387850233" style=' text-align:left;'>
                <div class="full_section_inner clearfix">
                   <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class='q_elements_holder one_column responsive_mode_from_768' >
                               <div class='q_elements_item' data-animation='no' style='vertical-align:middle;text-align:center;'>
                                  <div class='q_elements_item_inner'>
                                     <div class='q_elements_item_content q_elements_holder_custom_182929' style='padding:0 0 0 0'>
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                           <div class="wpb_wrapper">
                                              <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                 <img width="931" height="809" src="/assets/ewww/lazy/placeholder-931x809.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/home-single-image-2.png" data-srcset="/assets/uploads/2019/01/home-single-image-2.png 931w, /assets/uploads/2019/01/home-single-image-2-300x261.png 300w, /assets/uploads/2019/01/home-single-image-2-768x667.png 768w, /assets/uploads/2019/01/home-single-image-2-700x608.png 700w" data-sizes="auto" loading="lazy" />
                                                 <noscript><img width="931" height="809" src="/assets/uploads/2019/01/home-single-image-2.png" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/home-single-image-2.png 931w, /assets/uploads/2019/01/home-single-image-2-300x261.png 300w, /assets/uploads/2019/01/home-single-image-2-768x667.png 768w, /assets/uploads/2019/01/home-single-image-2-700x608.png 700w" sizes="(max-width: 931px) 100vw, 931px" /></noscript>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class='q_elements_holder one_column responsive_mode_from_768' >
                               <div class='q_elements_item' data-animation='no' style='vertical-align:middle;text-align:left;'>
                                  <div class='q_elements_item_inner'>
                                     <div class='q_elements_item_content q_elements_holder_custom_450742' style='padding:102px 20% 120px'>
                                        <div class="wpb_text_column wpb_content_element">
                                           <div class="wpb_wrapper">
                                              <h5>Testimonial</h5>
                                           </div>
                                        </div>
                                        <div class="separator  transparent" style="margin-top: -17px;"></div>
                                        <div class="vc_empty_space"  style="height: 31px" ><span
                                           class="vc_empty_space_inner">
                                           <span class="empty_space_image"  ></span>
                                           </span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element">
                                           <div class="wpb_wrapper">
                                              <h4><span style="color: #808080;">&#8220;An acquaintance recommended Puffin Security to do a network Wi-Fi audit. After a thorough analysis work, we discovered that our internal network was exposed in such a way, that anyone could have entered the company network and see confidential files. Thanks to the speed they work and their recommendations, we were able to solve this breach immediately.&#8221;</span></h4>
                                           </div>
                                        </div>
                                        <div class="vc_empty_space"  style="height: 31px" ><span
                                           class="vc_empty_space_inner">
                                           <span class="empty_space_image"  ></span>
                                           </span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element">
                                           <div class="wpb_wrapper">
                                              <p><span style="color: #ff6600;"><b>Cybersecurity services manager</b><br />
                                                 </span>
                                              </p>
                                           </div>
                                        </div>
                                        <div class="vc_empty_space"  style="height: 45px" ><span
                                           class="vc_empty_space_inner">
                                           <span class="empty_space_image"  ></span>
                                           </span>
                                        </div>
                                        <a  itemprop="url" href="/our-customers" target="_self" data-hover-color=#ffffff class="qbutton  small default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">More testimonials</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>

             <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:87px; padding-bottom:30px; text-align:left;'>
               <div class="section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                     <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                           <div class="wpb_wrapper">
                              <div class="wpb_text_column wpb_content_element">
                                 <div class="wpb_wrapper">
                                    <h2 style="text-align: center;">Latest Cybersecurity articles</h2>
                                 </div>
                              </div>
                              <div class="separator  small center" style="margin-top: 7px;margin-bottom: 38px;"></div>
                              <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                 <div class="full_section_inner clearfix">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                       <div class="vc_column-inner">
                                          <div class="wpb_wrapper">
                                             <div class="separator  transparent" style="margin-top: 52px;margin-bottom: 0px;"></div>
                                             <div class='latest_post_holder boxes three_columns one_row' >
                                                <ul>
                                                   {% for post in site.blogs_en limit:3 %}
                                                   <li class="clearfix">
                                                      <div class="boxes_image">
                                                         <a itemprop="url" href="{{ post.url }}">
                                                            <img width="539" height="303" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 539 303'%3E%3C/svg%3E" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image lazyload" alt="El firmware en dispositivos IoT" data-src="{{ post.image_src }}" loading="lazy" />
                                                            <noscript><img width="539" height="303" src="{{ post.image_src }}" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image" alt="{{ post.title }}" /></noscript>
                                                        </a>
                                                      </div>
                                                      <div class="latest_post"  >
                                                         <div class="latest_post_text">
                                                            <div class="latest_post_inner">
                                                               <div class="latest_post_text_inner">
                                                                  <h5 itemprop="name" class="latest_post_title entry_title"><a itemprop="url" href="{{ post.url }}">{{ post.title }}</a></h5>
                                                                  <p itemprop="description" class="excerpt">{{ post.description }}</p>
                                                                  <span class="post_infos">
                                                                  </span>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   {% endfor %}
                                                   
           
                                                </ul>
                                             </div>
                                             <div class="separator  transparent" style="margin-top: 40px;margin-bottom: 0px;"></div>
                                             <a  itemprop="url" href="/cyber-security-blog/blog/" target="_self" data-hover-color=#ffffff class="qbutton  small default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">MORE ARTICLES</a>
                                             <div class="separator  transparent" style="margin-top: 60px;margin-bottom: 0px;"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549019703736" style=' text-align:left;'>
                <div class="full_section_inner clearfix">
                   <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                            <div class="wpb_text_column wpb_content_element">
                               <div class="wpb_wrapper">
                                  <h2 style="text-align: center;"><span style="color: #ffffff;">Start NOW mitigating risks</span></h2>
                               </div>
                            </div>
                            <div class="separator  transparent" style="margin-top: 31px;margin-bottom: 0px;"></div>
                            <div class="wpb_text_column wpb_content_element">
                               <div class="wpb_wrapper">
                                  <h4 style="text-align: center;"><span style="color: #ffffff;">Provide some details to speak with one of our cyber security team of experts</span></h4>
                               </div>
                            </div>
                            <div class="separator  transparent" style="margin-top: 31px;margin-bottom: 0px;"></div>
                            <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                               <div class="full_section_inner clearfix">
                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                     <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                        <img src="/assets/uploads/2023/01/puffon.png" alt="">
                                        <a  itemprop="url" href="/contact-us" target="_self" data-hover-background-color=#f53644 data-hover-border-color=#f53644 data-hover-color=#ffffff class="qbutton  large center default" style="color: #000000; border-color: #ffffff; background-color: #ffffff;">GET STARTED</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% include footer.liquid %}
