{% include head.liquid custom_body=false%}
{% include header.liquid  %}
<body class="page-template page-template-full_width page-template-full_width-php page page-id-1550  qode-title-hidden side_menu_slide_from_right footer_responsive_adv hide_top_bar_on_mobile_header qode-content-sidebar-responsive qode-theme-ver-17.1 qode-theme-bridge transparent_content qode_advanced_footer_responsive_1000 wpb-js-composer js-comp-ver-5.6 vc_responsive" itemscope="" itemtype="http://schema.org/WebPage" style="height: auto; overflow: auto;">

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1550229148205 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548888772962">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h1 class="home-h"><span style="color: #ffffff;">Partner<br />
                                                          with us</span>
                                                       </h1>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 27px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4><span style="color: #ffffff;">At Puffin we want to work shoulder-to-shoulder with you for offering an attractive partner program for offering your customers cybersecurity services</span></h4>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1548875727298">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="background-color: #e8e8e8;">
                                  <div class="container_inner">
                                     <div class="two_columns_75_25 clearfix">
                                        <div class="text_wrapper column1">
                                           <div class="call_to_action_text" style="">
                                              <h5><span style="color: #000000;">ASK US FOR MORE INFORMATION</span></h5>
                                           </div>
                                        </div>
                                        <div class="button_wrapper column2"><a itemprop="url" href="/contact-us" class="qbutton white" target="_self" style="color: #ffffff;border-color: #dd3333;background-color: #dd3333;">GET STARTED</a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1549569969851 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1550501493174">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><span style="color: #ff6600;">Partnering</span> with Puffin Security</h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 2px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #808080;">Start working with Puffin to build a program to provide proactive and critical security services to your clients and members.</span></h4>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 50px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section disable_negative_margin" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1549574070125">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_434941'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>Nowaday’s cybersecurity landscape requires an advanced approach. At puffin security we offer a full range of comprehensive cybersecurity services for companies to transform their prevention, detection, and response programs. Our partnership program is designed to help customers safeguard their networks, IT systems and data against attacks and non-compliance.</p>
                                                    <p>At Puffin Security we believe in strong partnerships, based in long-term relationships that bring value to both businesses.  We believe in win-wins.</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1550501532183">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h5><strong>Why partnering with Puffin Security</strong></h5>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-bottom: 20px;"></div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Shared value</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Cyber security offers great opportunities</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">8 years of experience in cyber security services</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                              <noscript>
                                                 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success2.png" loading="lazy" class="lazyload">
                                                 <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success2.png" alt=""></noscript>
                                              </noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Increase your business opportunities</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1549574038143">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="1196" height="672" src="/assets/ewww/lazy/placeholder-1196x672.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" data-srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="1196" height="672" src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" sizes="(max-width: 1196px) 100vw, 1196px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  qode-row-with-bg vc_custom_1548890946395" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  grid_section disable_negative_margin" style=' text-align:center;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                           <div class="vc_column-inner vc_custom_1548607264319">
                                              <div class="wpb_wrapper"><a  itemprop="url" href="/contact-us" target="_blank" data-hover-background-color=#ff3a3a data-hover-border-color=#4c8dff data-hover-color=#ffffff class="qbutton  big_large_full_width enlarge" style="color: #ffffff; border-color: #4c8dff; border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px; background-color: #ff3a3a;">BECOME A PUFFIN PARTNER</a></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1527595327842 grid_section" style=' text-align:left;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner vc_custom_1550501590745">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2 style="text-align: center;"><span style="color: #ffffff;">Why working with Puffin</span></h2>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 75px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Effectiveness and efficiency</h4>
                                                          <p style='color: #d4d1d1'>Commitment to results. We use methodologies that ensure the quality policy (ISO 9001) and the achievement of an optimal compromise, prioritizing to response time and speed of execution.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Tailored approach service</h4>
                                                          <p style='color: #d4d1d1'>Adapt test and rules of engagement to uncover unique vulnerabilities. offering services with flexibility and adequate prices.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Expert execution</h4>
                                                          <p style='color: #d4d1d1'>Performed by elite security testing consultants on-site or remote. We accredit experience in complex organizations in security projects, providing knowledge in the triple aspect: organizational, legal and technical</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">A multilayered defense on depth</h4>
                                                          <p style='color: #d4d1d1'>A multilayered review defenses of management, risk management and internal audit to ensure that cyber security controls are well designed to protect the information assets and are operating effectively.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">Compliance with ethical codes</h4>
                                                          <p style='color: #d4d1d1'>Compliance with audit standards and ethical codes ISACA Code of Ethics, ISSA ethical code, OSSTMM Rules of Engagement, in addition to the standards referenced in the audit methodology.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 69px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1549575805239 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #333333;">Let&#8217;s make business together</span></h2>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 7px;margin-bottom: 38px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #999999;">Please keep in touch, and we&#8217;ll contact you to discuss a potential partnership.</span></h4>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549575813866 grid_section disable_negative_margin" style=' padding-top:50px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1549575582908">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_952964' style='padding:30px 0 0 30px'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>Puffin Security has the experience and certifications you need to bring credibility to any potencial partnership. We can help your clients understand the cyber security services and the kind of incidents they may suffer depending on its activity. Your company may offer your clients a new and very interesting service necessary for any kind of company.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_752960' style='padding:30px 0 0 30px'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4>We can offer a wide range of security services to mitigate risks and enhance the protection of their data. Even if the have already experienced a breach, we can help them to respond and recover very quickly. We can help them to be aware about the priority of having a good security protection, in order to may operate properly and protect their core business.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:87px; padding-bottom:30px; text-align:left;'>
                  <div class="section_inner clearfix">
                     <div class='section_inner_margin clearfix'>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                       <h2 style="text-align: center;">Latest Cybersecurity articles</h2>
                                    </div>
                                 </div>
                                 <div class="separator  small center" style="margin-top: 7px;margin-bottom: 38px;"></div>
                                 <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                    <div class="full_section_inner clearfix">
                                       <div class="wpb_column vc_column_container vc_col-sm-12">
                                          <div class="vc_column-inner">
                                             <div class="wpb_wrapper">
                                                <div class="separator  transparent" style="margin-top: 52px;margin-bottom: 0px;"></div>
                                                <div class='latest_post_holder boxes three_columns one_row' >
                                                   <ul>
                                                      {% for post in site.blogs_en limit:3 %}
                                                      <li class="clearfix">
                                                         <div class="boxes_image">
                                                            <a itemprop="url" href="{{ post.url }}">
                                                               <img width="539" height="303" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 539 303'%3E%3C/svg%3E" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image lazyload" alt="El firmware en dispositivos IoT" data-src="{{ post.image_src }}" loading="lazy" />
                                                               <noscript><img width="539" height="303" src="{{ post.image_src }}" class="attachment-latest_post_boxes size-latest_post_boxes wp-post-image" alt="{{ post.title }}" /></noscript>
                                                           </a>
                                                         </div>
                                                         <div class="latest_post"  >
                                                            <div class="latest_post_text">
                                                               <div class="latest_post_inner">
                                                                  <div class="latest_post_text_inner">
                                                                     <h5 itemprop="name" class="latest_post_title entry_title"><a itemprop="url" href="{{ post.url }}">{{ post.title }}</a></h5>
                                                                     <p itemprop="description" class="excerpt">{{ post.description }}</p>
                                                                     <span class="post_infos">
                                                                     </span>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </li>
                                                      {% endfor %}
                                                      
              
                                                   </ul>
                                                </div>
                                                <div class="separator  transparent" style="margin-top: 40px;margin-bottom: 0px;"></div>
                                                <a  itemprop="url" href="/cyber-security-blog/blog/" target="_self" data-hover-color=#ffffff class="qbutton  small default" style="font-style: normal; font-size: 14px; letter-spacing: 1px; ">MORE ARTICLES</a>
                                                <div class="separator  transparent" style="margin-top: 60px;margin-bottom: 0px;"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549019703736" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h3 style="text-align: center;"><span style="color: #ffffff;">Please contact us and we will call you for further information</span></h3>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 31px;margin-bottom: 0px;"></div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"><a  itemprop="url" href="/contact-us" target="_self" data-hover-background-color=#f53644 data-hover-border-color=#f53644 data-hover-color=#ffffff class="qbutton  large center default" style="color: #000000; border-color: #ffffff; background-color: #ffffff;">GET STARTED</a></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 121px;margin-bottom: 0px;"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    
{% include footer.liquid %}
